.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdracht-2 ul{
    display: flex;
    flex-direction: row;
}

.opdracht-2 li {
    flex-basis: 0;
    flex-grow: 1;
}

.opdracht-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.opdracht-3 li:first-child {
align-self: flex-start
}

.opdracht-3 li:last-child {
    align-self: flex-end
}

.opdracht-4 ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    gap: 10px;
}

.opdracht-5 div {
    display: flex;
    justify-content: space-between;
}

.opdracht-5 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.opdracht-5 ul:first-child {
    align-items: flex-start;
}

.opdracht-5 ul:last-child {
    align-items: flex-end;
}
